<main id="login-page">
   <div class="--">
      <form class="login">
         <div class="login__image">
            <img src="./media/root-access.svg" alt="" class="login__image--img" />
         </div>

         <div class="login__username">
            <input
               type="text"
               required
               name="login__username--input"
               class="login__username--input"
               id="login__username--input"
            />
         </div>

         <div class="login__password">
            <input
               type="password"
               required
               name="login__password--input"
               class="login__password--input"
               id="login__password--input"
            />
         </div>

         <div class="login__button">
            <button type="submit" name="login__button--input" class="login__button--input" id="login__button--input">
               Login
            </button>
         </div>
      </form>
   </div>
</main>
