<main id="login-page">
   <div class="--">
      <form class="login" onsubmit="login.submit(this)">
         <div class="login__image">
            <img src="./media/root-access.svg" alt="" class="login__image--img" />
         </div>

         <div class="login__username">
            <input type="text" required name="username" class="login__username--input" placeholder="Username" />
         </div>

         <div class="login__password">
            <input type="password" required name="password" class="login__password--input" placeholder="Password" />
         </div>

         <div class="login__button">
            <button type="submit" name="button" class="login__button--input btn -blue" id="login__button--input">
               Login
            </button>
         </div>
      </form>
   </div>
</main>
