@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
html {
  user-select: none;
  -webkit-user-drag: none;
  background-color: #202124;
  cursor: default;
  scroll-behavior: smooth;
}

body {
  color: #ddd;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#listPage {
  margin-bottom: 75px;
  text-align: center;
}

#listPage #context {
  text-align: left;
  width: max-content;
  display: none;
  position: fixed;
  z-index: 100;
  box-shadow: 0 0 3px 0 #d8c1d8;
  border-radius: 3px;
  background-color: #39393b;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  color: #caccd4;
}

#listPage #context .item {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

#listPage #context .item:hover {
  background-color: #ffffff10;
}

#listPage #context .item:hover svg {
  color: #a9c4d6;
}

#listPage #context .item svg {
  height: 15px;
  margin-right: 7px;
  margin-top: 3px;
}

#listPage #context .div {
  height: 1px;
  width: 100%;
  background-color: #303036;
}

#listPage .heading {
  font-family: "Acme", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 15px 0 5px;
  color: #c9cecf;
  border-top: 3px solid #555555;
}

#listPage #ownerItem .heading {
  border: 0 !important;
}

#listPage #ownerItem article .name {
  color: #ff9999;
}

#listPage #ownerItem article .mac {
  margin: 0 !important;
  margin-top: 10px !important;
}

#listPage #ownerItem article .p {
  display: none;
}

#listPage #userItem article .name {
  color: #b3b3ff;
}

#listPage #otherItem article .name,
#listPage #unItem article .name {
  color: #ffcccc;
}

#listPage #otherItem article .mac,
#listPage #unItem article .mac {
  margin: 0px !important;
  margin-top: 10px !important;
}

#listPage #otherItem article .p,
#listPage #unItem article .p {
  display: none;
}

#listPage #unItem article .name {
  color: #ffffff99;
}

#listPage .mainItemCon .con {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

#listPage .mainItemCon article {
  background-color: #ffffff10;
  padding: 18px 10px;
  border-radius: 5px;
  cursor: grab;
}

#listPage .mainItemCon article:active {
  cursor: grabbing;
}

#listPage .mainItemCon article .name > span {
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1.1px;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
}

#listPage .mainItemCon article .mac {
  color: #ffffff99;
  font-family: "Roboto Mono", monospace;
  font-size: 19px;
  margin: 10px;
}

#listPage .mainItemCon article .p {
  font-size: 15px;
  color: #999;
  font-family: "Rubik", sans-serif;
}

#logInPage {
  color: #ddd;
  text-align: center;
  display: flex;
  height: 100vh;
  min-height: fit-content;
  justify-content: space-around;
  flex-direction: column;
}

#logInPage #loginBody {
  margin-bottom: 10vh;
}

#logInPage #loginBody input {
  font-size: 1.3rem;
}

#logInPage #loginBody input,
#logInPage #loginBody .icon,
#logInPage #loginBody #btn {
  color: #ddd;
  background: #ffffff40;
  outline: 0;
  border: 0;
}

#logInPage #loginBody .eye {
  position: absolute;
  margin-left: -35px;
  margin-top: 4px;
  color: #a7abb8;
  width: 35px;
  cursor: pointer;
  transition: color 300ms;
  padding: 5px;
}

#logInPage #loginBody .eye:hover {
  color: #555861;
}

#logInPage #loginBody .icon {
  font-size: 1.1rem;
  position: absolute;
  color: #a7abb8;
  background: none !important;
  margin-top: 8px;
  margin-left: 8px;
}

#logInPage #loginBody input {
  padding: 5px 35px;
  border-radius: 5px;
  margin-bottom: 15px;
}

#logInPage #loginBody #btn {
  border-radius: 5px;
  cursor: pointer;
  padding: 7px 15px;
  font-size: 1.2rem;
}

#logInPage #loginBody #btn:active {
  opacity: 0.5;
}

#logInPage #loginBody .checkDiv {
  margin-bottom: 10px;
}

#logInPage #loginBody .checkDiv input {
  position: relative;
  top: 1px;
  padding: 0;
  margin: 0;
}

#logInPage #loginBody .checkDiv span {
  padding-left: 2px;
  font-size: 14px !important;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  border-top: 2px solid #555555;
  border-bottom: 3px solid #555555;
  background-color: #2f3136;
  width: 100%;
}

header #logOut {
  text-align: center;
  width: fit-content;
}

header #logOut button {
  font-family: "Acme", sans-serif;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  transition: ease-in-out 300ms;
  color: #ed3d3e;
  padding: 5px 15px;
  background: #34373c;
}

header #logOut button:hover {
  background: #ffffff10;
}

header .search {
  flex: 1;
  display: flex;
  align-items: center;
  background: #ffffff01;
}

header .search .ico > svg {
  height: 25px;
  cursor: pointer;
  padding: 3px 10px 0 10px;
  color: #a7abb8;
  transition: color 300ms;
}

header .search .ico > svg:hover {
  color: #8ab7d4;
}

header .search input {
  height: 100%;
  outline: none;
  border: none;
  color: #d8c1d8;
  background: #ffffff15;
  border-radius: 20px;
  font-size: 1.2rem;
  width: 100%;
  padding: 5px 15px;
}

noscript {
  text-align: center;
}

@media screen and (max-width: 1100px) {
  /*-- When using Tablet || Smaller than 1000px --*/
  .mainItemCon .con {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media screen and (max-width: 850px) {
  /*-- When using Tablet || Smaller than 1000px --*/
  .mainItemCon .con {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
