@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

$color-dark: #212121;
$color-dark1: #232931;
$color-dark2: #393e46;
$color-green: #2f6e11;
$color-green2: #305f34;
$color-orange: #f66b0e;
$color-orange1: #ff8c32;
$color-sweet: #d9cab3;
$color-white: #eeeeee;
$color-whitePlus: #f6f6f6;

@keyframes fade_in_out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scaleup {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(35);
    opacity: 0;
  }
}
