@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@-webkit-keyframes showing-createUser {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showing-createUser {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  min-height: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input[type=submit] {
  cursor: pointer;
}
button[disabled],
input[type=submit][disabled] {
  touch-action: none;
  pointer-events: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 2em;
}

[hidden] {
  display: none;
}

.-- {
  width: 100%;
  max-width: 144rem;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  border: 0;
  outline: 0;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 0.5rem 1.5rem;
  border-radius: 100vmax;
  font-size: 1.4rem;
}
.btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  box-shadow: 0 0 0.2rem 0.2rem rgba(128, 128, 128, 0.3137254902);
}
.btn:hover::before {
  width: 100%;
  opacity: 1;
}
.btn:focus {
  box-shadow: 0 0 0.2rem 0.2rem #076a91;
}
.btn.-blue {
  background: #076a91;
}
.btn.-black {
  background: #44464d;
}
.btn.-red {
  background: #f6575a;
}
.btn.-blue::before {
  background: #087ba9;
}
.btn.-black::before {
  background: #383a3f;
}
.btn.-red::before {
  background: #f43f43;
}

html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  font-family: "Rubik", sans-serif;
  background: #202124;
  color: lightgrey;
}
body.overflow-hidden {
  overflow: hidden;
}

::-moz-selection {
  background: cadetblue;
  color: transparent;
  text-shadow: 0 0 0.15rem #d3d3d3;
}

::selection {
  background: cadetblue;
  color: transparent;
  text-shadow: 0 0 0.15rem #d3d3d3;
}

:where(#login-page) .-- {
  display: flow-root;
}
:where(#login-page) .login {
  margin: auto;
  margin-top: max(20vh, 7.5rem);
  width: min(90%, 30rem);
  background: #2c2d32;
  border-radius: 1rem;
  box-shadow: 0 1rem 2.5rem 0.5rem rgba(0, 0, 0, 0.2509803922);
  padding: min(5%, 4rem);
}
:where(#login-page) .login :where(input, button) {
  display: block;
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  outline: 0;
  border: 0;
  background: #383a3f;
  --box-shadow: 0 0 0.25rem 0.2rem;
  box-shadow: var(--box-shadow) transparent;
  transition: 0.3s ease-in-out;
}
:where(#login-page) .login :where(input, button):hover {
  box-shadow: var(--box-shadow) rgba(128, 128, 128, 0.3137254902);
}
:where(#login-page) .login :where(input, button):focus {
  background: #44464d;
  box-shadow: var(--box-shadow) #0bb1f2;
}
:where(#login-page) .login :where(input, button):invalid {
  box-shadow: var(--box-shadow) #f8878a;
}
:where(#login-page) .login__image {
  height: 10rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-bottom: 2.5rem;
}
:where(#login-page) .login__image--img {
  height: 100%;
}
:where(#login-page) .login__button--input {
  font-size: 1.55rem;
  padding: 0.7rem 1rem;
}

:where(#panel-page) .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #2c2d32;
}
:where(#panel-page) .nav .-- {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5rem 0.65rem;
  gap: 1rem;
}
:where(#panel-page) .nav button,
:where(#panel-page) .nav input {
  background: none;
  border: 0;
  outline: 0;
  border-radius: 100vmax;
  transition: 0.2s ease-in-out;
}
:where(#panel-page) .nav button:focus,
:where(#panel-page) .nav input:focus {
  background: #44464d;
  box-shadow: 0 0 0.2rem 0.2rem #076a91;
}
:where(#panel-page) .nav .nav__input {
  background: #383a3f;
  padding: 0.3rem 1.5rem;
  flex: 1;
  min-width: 15ch;
  margin-right: min(5rem, 3%);
}
:where(#panel-page) .list {
  padding: 7rem 2rem;
}
:where(#panel-page) .list__box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #383a3f;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}
:where(#panel-page) .list__box--item {
  min-width: 19rem;
  width: 17.5%;
  max-width: 25rem;
  flex-grow: 1;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  background: #2c2d32;
  box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2705882353);
}
:where(#panel-page) .list__box--item .name,
:where(#panel-page) .list__box--item .mac {
  cursor: pointer;
  margin: auto;
  padding-inline: 0.7rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1.55;
  font-size: 1.7rem;
}
:where(#panel-page) .list__box--item .name:hover,
:where(#panel-page) .list__box--item .mac:hover {
  color: #fa9fa1;
}
:where(#panel-page) .list__box--item .name.copied,
:where(#panel-page) .list__box--item .mac.copied {
  color: greenyellow;
  text-decoration: line-through;
}
:where(#panel-page) .new {
  position: fixed;
  inset: 0;
  background: transparent;
  overflow-y: scroll;
  display: none;
  transition: background 0.3s ease-in-out;
  transition-delay: 0.3s;
}
:where(#panel-page) .new.opening {
  display: block;
}
:where(#panel-page) .new.opened {
  background: rgba(32, 33, 36, 0.9);
  transition-delay: 0s;
}
:where(#panel-page) .new.opened .new-box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition-delay: 0.1s;
}
:where(#panel-page) .new .new-box {
  width: min(100%, 50rem);
  margin: auto;
  margin-block: max(10vh, 5rem);
  background: #202124;
  box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
:where(#panel-page) .new .new-box > * {
  padding-inline: 4rem;
}
:where(#panel-page) .new__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #181818;
  padding-block: 1rem;
}
:where(#panel-page) .new__header--heading {
  font-weight: 500;
}
:where(#panel-page) .new__header--close {
  position: relative;
  display: block;
  width: 4rem;
  aspect-ratio: 1;
  background: transparent;
  box-shadow: 0 0 0 1rem transparent;
  border: 0;
  outline: 0;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
:where(#panel-page) .new__header--close::after, :where(#panel-page) .new__header--close::before {
  content: "";
  display: block;
  --height: 0.3rem;
  position: absolute;
  width: 60%;
  height: var(--height);
  background: #fa9fa1;
  transition: 0.4s ease-in-out;
  top: calc(50% - var(--height) / 2);
  left: 22.5%;
}
:where(#panel-page) .new__header--close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
:where(#panel-page) .new__header--close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
:where(#panel-page) .new__header--close:hover {
  background: #2c2d32;
}
:where(#panel-page) .new__header--close:hover::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
:where(#panel-page) .new__header--close:hover::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
:where(#panel-page) .new__header--close:focus {
  box-shadow: 0 0 0.2rem 0.1rem #fa9fa1;
}
:where(#panel-page) .new__header--close:focus::before {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
:where(#panel-page) .new__header--close:focus::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
:where(#panel-page) .new__form {
  padding-block: 2rem 3rem;
}
:where(#panel-page) .new__form .wid100disblock {
  display: block;
  width: 100%;
}
:where(#panel-page) .new__form > * {
  margin-bottom: 2rem;
}
:where(#panel-page) .new__form button {
  border-radius: 0.5rem;
}
:where(#panel-page) .new__form--role {
  display: flex;
  align-items: center;
}
:where(#panel-page) .new__form--role input {
  margin-bottom: 0.2rem;
  border-radius: 50%;
}
:where(#panel-page) .new__form--role label {
  padding-right: 2rem;
  padding-left: 0.5rem;
}
:where(#panel-page) .new__form--role input,
:where(#panel-page) .new__form--role label {
  cursor: pointer;
}
:where(#panel-page) .new__form--description textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
:where(#panel-page) .new__form--submit {
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
}
:where(#panel-page) :where(input, button, textarea, select) {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  outline: 0;
  border: 0;
  background: #2c2d32;
  --box-shadow: 0 0 0.25rem 0.2rem;
  box-shadow: var(--box-shadow) transparent;
  transition: box-shadow 0.3s ease-in-out;
}
:where(#panel-page) :where(input, button, textarea, select):hover {
  box-shadow: var(--box-shadow) rgba(128, 128, 128, 0.3137254902);
}
:where(#panel-page) :where(input, button, textarea, select):focus {
  box-shadow: var(--box-shadow) #0bb1f2;
}
:where(#panel-page) :where(input, button, textarea, select):invalid {
  box-shadow: var(--box-shadow) #f8878a;
}