#login {
  padding: 17vh 2rem;
}

#login .login {
  background: $color-dark1;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  max-width: 800px;
  width: fit-content;
  padding: 4rem;

  @include mobile {
    display: block;
  }

  &__form {
    input {
      margin-bottom: 1.7rem;
      min-width: 18rem;
    }

    input,
    button {
      width: 100%;
      background: $color-dark;
      outline: 0;
      border: 0;
      padding: 1rem 1.5rem;
      border-radius: 0.5rem;
    }

    &--usernameBox {
    }

    &--passwordBox {
    }

    &--loginBox {
      button {
        cursor: pointer;
        background-color: $color-green2;
        transition: 0.2s;
        position: relative;
        overflow: hidden;

        &:hover {
          background: $color-green;
        }
      }
    }
  }

  &__details {
    font-size: 1.45rem;
    margin-bottom: 3.5rem;
    margin-left: 5rem;

    @include mobile {
      margin-top: 5rem;
      margin-left: 0;
    }

    &--heading {
      font-size: 1.6rem;
      margin-bottom: 1.6rem;
    }

    table {
      width: 100%;
      border-spacing: 0;
    }

    &--item {
      &:nth-child(odd) {
        background: #00000015;
      }
      .name,
      .data {
        padding: 1rem;
      }

      .name {
        text-align: left;
      }

      .clone {
        padding-right: 2rem;
        padding-left: 0.7rem;
      }

      .data {
        text-align: right;
      }
    }
  }
}
