#warning {
  padding-top: 12vh;
}

.warning {
  &__heading {
    color: $color-orange;
  }
}

#login {
  padding: 17vh 2rem;
}

.login {
  // width: fit-content;
  background: $color-dark1;
  border-radius: 1rem;
  height: 632px;
  width: 1020px;

  display: flex;
  & > * {
    flex: 1;
  }
}
